@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
  overflow-x: hidden;
  display: flex;
  font-family: 'Nunito', monospace;
  padding: 0rem 30rem;
  height: 100vh;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.square {
  width: 800px;
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff6ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.7);
  transform: scale(var(--square-scale, 1));
  z-index: 5;
}
h1 {
  color: #424242;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem 0.5rem;
}
h2 {
  color: #424242;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.2rem 0.5rem;
}
h3 {
  color: #424242;
  font-size: 1rem;
  text-align: center;
  margin: 0.2rem 0.5rem;
}

p {
  text-align: center;
  font-size: 0.7rem;
  color: #424242;
  margin: 0.5rem 0.5rem;
}

button {
  background-color: transparent;
  border: 2px solid #424242;
  border-radius: 1rem;
  color: #424242;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0.5rem 0;
}

button:hover {
  background-color: #ffbf7f;
  color: #424242;
  box-shadow: 0 0 1.25rem #ffbf7f;
  border: 2px solid #ffe9d3;
}
.water {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.beach {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------- */
/* NAVIGATION BAR */
/* ---------------------- */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #424242;
  overflow: hidden;
  position: fixed;
  z-index: 111111;
  top: 0;
  opacity: 0;
  width: 100vw;
  transition: 0.3s;
}
.topnav:hover{
  opacity: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f1e4d6;
  color: #424242;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f0d1af;
  color: #424242;
}